# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
name = Corey O'Brien
email = corey@fairwinds.com
[core]
	editor = code --wait
	excludesfile = /Users/corey/.gitignore_global
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[url "git@github.com:"]
	insteadOf = https://github.com/
[pull]
	ff = only
