[user]
    name = Corey O'Brien
    email = coreypobrien@gmail.com
[core]
	editor = code --wait
	excludesfile = /Users/corey/.gitignore_global
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[pull]
	ff = only
[init]
	defaultBranch = main
[diff "bin"]
    textconv = hexdump -v -C
[url "git@github.com:"]
	insteadOf = https://github.com/
[url "git@gitlab.com:"]
	insteadOf = https://gitlab.com/

